<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile Page</title>
</head>
<body>
    <h1 class="title">Мой профиль</h1>
    <div class="profile-container">
        <div class="avatar-section">
            <img src="/img/avatar.jpg" alt="Аватар пользователя" class="avatar">
            <h1 class="name">{{ user.firstname }}  {{ user.lastname }}</h1>
            <p class="role">{{ user.role }}</p>
        </div>
        <div class="info-section">
            <form action="/user" method="PUT">
            <table id="profile-info-table">
                <tr>
                    <td><strong>Имя:</strong></td>
                    <td class="td-info">{{ user.firstname }}</td>
                    <td><input class="form-input" name="firstname" value="" type="text"></td>
                </tr>
                <tr>
                    <td><strong>Фамилия:</strong></td>
                    <td class="td-info">{{ user.lastname }}</td>
                    <td><input class="form-input" name="lastname" value="" type="text"></td>
                </tr>
                <tr>
                    <td><strong>Страна:</strong></td>
                    <td class="td-info">Россия</td>
                    <td><input class="form-input" name="country" value="" type="text"></td>
                </tr>
                <tr>
                    <td><strong>Город:</strong></td>
                    <td class="td-info">Грозный</td>
                    <td><input class="form-input" name="city" value="" type="text"></td>
                </tr>
                <tr>
                    <td><strong>Дата рождения:</strong></td>
                    <td class="td-info">{{ user.birthDay }}</td>
                    <td><input class="form-input" name="city" value="" type="text"></td>
                </tr>
                <tr>
                    <td><strong>Дата регистрации:</strong></td>
                    <td class="td-info">2023-01-01</td>
                    <td><input class="form-input" name="city" value="" type="text"></td>
                </tr>
            </table>
            </form>
            <div class="buttons-group" id="buttons-group">
                <button onclick="edit()">Редактировать</button>
            </div>
        </div>
    </div>

    <h2 class="title">Мои ученики</h2>
    <div class="profile-container">
        <div class="students-table">
            <table>
                <tr>
                    <td class="td-main">Имя</td>
                    <td class="td-main">Пройдено тестов</td>
                    <td class="td-main">Средний балл</td>
                    <td class="td-main">Рейтинг</td>
                </tr>
                <tr>
                    <td>Жан Клод</td>
                    <td>15</td>
                    <td>25</td>
                    <td>x</td>
                </tr>
                <tr>
                    <td>Жан Клод</td>
                    <td>15</td>
                    <td>25</td>
                    <td>x</td>
                </tr>
                <tr>
                    <td>Жан Клод</td>
                    <td>15</td>
                    <td>25</td>
                    <td>x</td>
                </tr>
            </table>
        </div>
    </div>

    <h2 class="title">Задачки</h2>
    <div class="profile-container">
        <div class="students-table">
            <table>
                <tr>
                    <td class="td-main">Имя</td>
                    <td class="td-main">Пройдено тестов</td>
                    <td class="td-main">Средний балл</td>
                    <td class="td-main">Рейтинг</td>
                </tr>
                <tr>
                    <td>Жан Клод</td>
                    <td>15</td>
                    <td>25</td>
                    <td>x</td>
                </tr>
                <tr>
                    <td>Жан Клод</td>
                    <td>15</td>
                    <td>25</td>
                    <td>x</td>
                </tr>
                <tr>
                    <td>Жан Клод</td>
                    <td>15</td>
                    <td>25</td>
                    <td>x</td>
                </tr>
            </table>
        </div>
    </div>

    <script src="/js/profile.js"></script>
</body>
</html>