<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/pro.css">
    <link rel="stylesheet" href="/css/popup.css">
    <title>Profile Page</title>
</head>
<body>
    <h1 class="title">Мой профиль</h1>
    <div class="profile-container">
        <div class="avatar-section">
            <img src="/img/avatar.jpg" alt="Аватар пользователя" class="avatar">
            <h1 class="name">{{ firstname }}  {{ lastname }}</h1>
            <p class="role">Преподователь</p>
        </div>
        <div class="info-section">
            <form action="/user" method="PUT">
            <table id="profile-info-table">
                <tr>
                    <td><strong>Имя:</strong></td>
                    <td class="td-info">{{firstname}}</td>
                    <td><input class="form-input" name="firstname" value="" type="text"></td>
                </tr>
                <tr>
                    <td><strong>Фамилия:</strong></td>
                    <td class="td-info">{{ lastname }}</td>
                    <td><input class="form-input" name="lastname" value="" type="text"></td>
                </tr>
                <tr>
                    <td><strong>Страна:</strong></td>
                    <td class="td-info">Россия</td>
                    <td><input class="form-input" name="country" value="" type="text"></td>
                </tr>
                <tr>
                    <td><strong>Город:</strong></td>
                    <td class="td-info">Грозный</td>
                    <td><input class="form-input" name="city" value="" type="text"></td>
                </tr>
                <tr>
                    <td><strong>Дата рождения:</strong></td>
                    <td class="td-info">{{ birthDay }}</td>
                    <td><input class="form-input" name="city" value="" type="text"></td>
                </tr>
                <tr>
                    <td><strong>Дата регистрации:</strong></td>
                    <td class="td-info">2023-01-01</td>
                    <td><input class="form-input" name="city" value="" type="text"></td>
                </tr>
            </table>
            </form>
            <div class="buttons-group" id="buttons-group">
                <button onclick="edit()">Редактировать</button>
            </div>
        </div>
    </div>

    <div id="popup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <div class="pop-content">

        </div>
    </div>
    </div>

    <div class="title">
        <h2 class="">Мои ученики</h2>
        <button class="" onclick="getUsers()">Добавить</button>
    </div>

    <div class="profile-container">
        <div class="students-table">
            <table>
                <tr>
                    <td class="td-main" style="font-weight: 400;">Имя</td>
                    <td class="td-main" style="font-weight: 400;">Пройдено тестов</td>
                    <td class="td-main" style="font-weight: 400;">Средний балл</td>
                    <td class="td-main" style="font-weight: 400;">Рейтинг</td>
                </tr>
                <tr>
                    <td>Алексей Смирнов</td>
                    <td>3/8</td>
                    <td>3.5/5</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>Жак Фреско</td>
                    <td>5/8</td>
                    <td>4/5</td>
                    <td>x</td>
                </tr>
                <tr>
                    <td>Ссату Якубов</td>
                    <td>2/8</td>
                    <td>3/5</td>
                    <td>16</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="title">
        <h2 class="">Задачки</h2>
        <a href="/test"><button class="">Добавить</button></a>
    </div>
    
    <div class="profile-container">
        <div class="students-table">
            <table>
                <tr>
                    <td class="td-main" style="font-weight: 400;">Название</td>
                    <td class="td-main" style="font-weight: 400;">количество прошедших</td>
                    <td class="td-main" style="font-weight: 400;">сложность</td>
                </tr>
                <tr>
                    <td>Названия стран</td>
                    <td>10</td>
                    <td>Easy</td>
                </tr>
                <tr>
                    <td>Полезные ископаемые</td>
                    <td>4</td>
                    <td style="color: rgb(221, 236, 10)">Middle</td>
                </tr>
                <tr>
                    <td>Районы Грозного</td>
                    <td>3</td>
                    <td style="color: rgb(176, 62, 62)">Hard</td>
                </tr>
            </table>
        </div>
    </div>

    <script src="/js/profile.js"></script>
    <script src="/js/teacher.js"></script>
    <script src="/js/popup.js"></script>
</body>
</html>